/* Content First - Mobile First */
    /* Reglas Generales */
        *{
            box-sizing: border-box;
            font-family: 'segoe ui', sans-serif;
            scroll-behavior: smooth;
        }
    /* Margenes */
        h1,
        h2,
        h3,
        h4,
        header p{
            margin: 0;
        }
    /* Bordes */

    /* Rellenos */

    /* Estilos */

    /* Navegacion */

    /* Cabecera */

    /* Contenido */

    /* Pie de Pagina */

/* Small Devices - Smartphones */

/* Medium Devices - Tablets */

/* Large Devices - Laptops */

/* Extra Large - Desktop */